// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';



.profile-title{
    font-size: 12px;

    img.profile-title-img{
        height: 36px;
        border-radius: 50%;
    }
}
